:root {
  --bg-transparent: rgba(221, 213, 182, 0);
  --bg-old: #ddd5b6;
  --bg-gray: #c9c9c9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-old);
  font-size: 16px;
}

html.bg-gray,
html.bg-gray body {
  background-color: var(--bg-gray);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  text-indent: 2em;
}

blockquote:not(.long) p {
  text-indent: 0;
}

.title,
.subtitle {
  text-align: center;
  margin-bottom: 0;
}

.title {
  font-family: 'Lora', serif;
}

.subtitle {
  font-family: 'Marck Script', cursive;
}

blockquote {
  margin: 0;
  color: #474c4f;
  padding: 30px;
  position: relative;
  text-align: center;
  font-family: 'IBM Plex Serif', serif;
  font-style: italic;
}

blockquote footer {
  text-align: center;
}

blockquote.long {
  text-align: left;
}

blockquote:before {
  content: '\f10d';
  font-family: FontAwesome;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: 14px;
  color: #474c4f;
  font-size: 20px;
  background: var(--bg-old);
  padding: 0 15px;
}

.bg-gray blockquote:before {
  background: var(--bg-gray);
}

blockquote:after {
  content: '';
  position: absolute;
  left: 15px;
  top: 20px;
  right: 15px;
  height: 4px;
  border-top: 1px dotted #474c4f;
  border-bottom: 1px dotted #474c4f;
}

blockquote p {
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1.4;
}

blockquote cite {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}
