.textContainer {
  padding: 0 2rem 0.5rem 2rem;
  background: linear-gradient(
    180deg,
    var(--bg-transparent) 0%,
    var(--bg-transparent) 80%,
    var(--bg-old) 95%
  );
  text-align: justify;
}

.mapContainer {
  padding: 1rem 0;
  background-color: var(--bg-old);
}

.innerTextContainer {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
}
