.map {
  position: relative;
  background-color: var(--bg-old);
}

.map img {
  mix-blend-mode: darken;
  filter: brightness(1.1);
}

.markers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
