.marker {
  border: none;
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;

  margin: 0;
  padding: 0;

  transform: translateX(-50%) translateY(-50%);

  pointer-events: none;
  background-color: gray;
}

.marker[data-active='true'] {
  pointer-events: all;
  background-color: orange;
}
